//
   Created by John on 4/08/2014.

extends layout
block content
  form(method='POST', action='/query')
    div
      label(for='username') Username:
      input(type='text', name='username')
    div
      label(for='password') Password:
      input(type='password', name='password')
    div
    label(for='firstName') First Name:
    input(type='text', name='firstname')
    div
      label(for='lastName') Last Name:
      input(type='text', name='lastname')
    div
      input(type='submit', value="Create!")
